<div>
  <h2 id="page-heading" data-cy="AvaliacaoHeading">
    <span appTranslate="clinicalLinkApp.avaliacao.home.title">Avaliacaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="clinicalLinkApp.avaliacao.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-avaliacao"
        [routerLink]="['/avaliacao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="clinicalLinkApp.avaliacao.home.createLabel">Criar novo Avaliacao</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="filters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="avaliacaos?.length === 0">
    <span appTranslate="clinicalLinkApp.avaliacao.home.notFound">Nenhum Avaliacao encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="avaliacaos && avaliacaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="assessment">
            <div class="d-flex">
              <span appTranslate="clinicalLinkApp.avaliacao.assessment">Assessment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="note">
            <div class="d-flex">
              <span appTranslate="clinicalLinkApp.avaliacao.note">Note</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="avaliado.id">
            <div class="d-flex">
              <span appTranslate="clinicalLinkApp.avaliacao.avaliado">Avaliado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="avaliador.id">
            <div class="d-flex">
              <span appTranslate="clinicalLinkApp.avaliacao.avaliador">Avaliador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avaliacao of avaliacaos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/avaliacao', avaliacao.id, 'view']">{{ avaliacao.id }}</a>
          </td>
          <td>{{ avaliacao.assessment }}</td>
          <td>{{ avaliacao.note }}</td>
          <td>
            <div *ngIf="avaliacao.avaliado">
              <a [routerLink]="['/especialista', avaliacao.avaliado.id, 'view']">{{ avaliacao.avaliado.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="avaliacao.avaliador">
              <a [routerLink]="['/usuario', avaliacao.avaliador.id, 'view']">{{ avaliacao.avaliador.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/avaliacao', avaliacao.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">Visualizar</span>
              </a>

              <a [routerLink]="['/avaliacao', avaliacao.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(avaliacao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="avaliacaos && avaliacaos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
